# Server Port Configuration (defaults to 8080 if blank)
PORT=8080

# Deployed application public URL (Optional - used for self-ping to keep Free tier awake)
# APP_URL=https://deepfake-detection-bdlk.onrender.com
